---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

figcaption.post_image {
    font-size: 90%;
    color: #6c757d;
    border: 1px dotted blue;
    text-align: center;
}

figure.figure img{  
    margin: 0 auto;
    max-width: 100%;
    display: block;
}

figure.figure{
    width: 100%;
}